go 1.24.0

use (
	.
	./tool/p2p
	./tool/redis-key-backup
	./tool/patch
	./tool/json2go
	./tool/goenum
	./tool/protoc-gen-go-handle
	./demo/nats/jetstream
	./tool/protoc-gen-dirty-mark
	./tool/protoc-gen-readonly
	./tool/func-exportor
//./remote/nats.go
//./work/bar
//./work/foo
)
